

{{!
}}


<footer id="page-footer" class="py-3 text-light nova-foot" style="background-color:#fff;" aria-label="Footer del sitio"> 
  <div class="container-fluid">
    <div id="course-footer">
     {{{ output.course_footer }}} 
    </div>
    <div class="links clearfix">
      <div class="some-page-wrapper5">
        <div class="row large">
          <div class="column3">
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}ingresantes/">Perfiles</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}institucional/">Institucional</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}formacion/"> Formación</a></div>
            </div>
          </div>
 
          <div class="column3">
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}investigacion/"> Investigación</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}cooperacion/">Cooperación</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}biblioteca/"> Biblioteca</a></div>
            </div>
          </div>

          <div class="column3">
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}publicaciones/">Publicaciones</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}noticias/">Noticias</a></div>
            </div>
            <div class="column3">
              <div  class="columnnuevo last" style="text-align: center; word-break: keep-all;"><a href="{{{ flacso_url }}}consultas/">Consultas</a></div>
            </div>
          </div>
        </div>
         </div>
        <div class="row large">
          <div class="column3">
            <div class="columnnuevo"><a href="{{{ flacso_url }}}calendario/"> CALENDARIO</a></div>
          </div>
          <div class="column3">
            <div class="columnnuevo"><a href="{{{ flacso_url }}}producciones-audiovisuales/"> PRODUCCIONES AUDIOVISUALES</a></div>
          </div>
          <div class="column3">
            <div  class="columnnuevo last" style="text-align: center; word-break: keep-all;"><a href="{{{ flacso_url }}}institucional/flacsovirtual"> FLACSO VIRTUAL</a></div>
          </div>
        </div>

      <div class="adres2">
      </div>

      <div class="adres">
        <div class="social" aria-label="Redes sociales">
          <a class="red insta" aria-label="Instagram" href="https://www.instagram.com/flacsouruguay/"></a>
          <a class="red face" aria-label="Facebook" href="https://www.facebook.com/flacso.uruguay/"></a>
          <a class="red twi" aria-label="Twitter" href="https://x.com/FLACSOUruguay"></a>
          <a class="red youtube" aria-label="Youtube" href="https://www.youtube.com/channel/UC3VPdq0Ii6nTwJzEfZrkmJg"></a>
        </div>
        <div class="detail">
          <small class="facultad"><p><a href="https://flacso.edu.uy">https://flacso.edu.uy</a>
          <br>Facultad Latinoamericana de Ciencias Sociales <br>
            SEDE URUGUAY</p>
           
          </small>
          <small>
          <p>
            8 de Octubre 2882, cp 11600<br>
            Montevideo, Uruguay<br>
            (598) 2481 7459
            </p>
          </small>
        </div>
      </div> 
    </div>
    {{{ output.standard_footer_html }}}
    {{{ output.standard_end_of_body_html }}}
  </div>

</footer>